@charset "UTF-8";
/* Miso */
@font-face {
  font-family: 'MisoRegular';
  src: url("../fonts/miso/miso-webfont.eot");
  src: local("☺"), url("../fonts/miso/miso-webfont.woff") format("woff"), url("../fonts/miso/miso-webfont.ttf") format("truetype"), url("../fonts/miso/miso-webfont.svg#webfontA4ZOCCxS") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoBold';
  src: url("../fonts/miso/miso-bold-webfont.eot");
  src: local("☺"), url("../fonts/miso/miso-bold-webfont.woff") format("woff"), url("../fonts/miso/miso-bold-webfont.ttf") format("truetype"), url("../fonts/miso/miso-bold-webfont.svg#webfontWPKh07R7") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoLight';
  src: url("../fonts/miso/miso-light-webfont.eot");
  src: url("../fonts/miso/miso-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/miso/miso-light-webfont.woff") format("woff"), url("../fonts/miso/miso-light-webfont.ttf") format("truetype"), url("../fonts/miso/miso-light-webfont.svg#MisoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Cantarell */
@font-face {
  font-family: 'CantarellRegular';
  src: url("../fonts/cantarell/Cantarell-Regular-webfont.eot");
  src: local("☺"), url("../fonts/cantarell/Cantarell-Regular-webfont.woff") format("woff"), url("../fonts/cantarell/Cantarell-Regular-webfont.ttf") format("truetype"), url("../fonts/cantarell/Cantarell-Regular-webfont.svg#webfontaI1yI6ue") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBold';
  src: url("../fonts/cantarell/Cantarell-Bold-webfont.eot");
  src: local("☺"), url("../fonts/cantarell/Cantarell-Bold-webfont.woff") format("woff"), url("../fonts/cantarell/Cantarell-Bold-webfont.ttf") format("truetype"), url("../fonts/cantarell/Cantarell-Bold-webfont.svg#webfontfFimAbpE") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanukibrotha\/projects\/sdg\/app\/stylesheets\/_web_font_loader\.scss}line{font-family:\000036}}
.wf-loading *,
.wf-MisoRegular-n4-loading *,
.wf-CantarellRegular-n4-loading *,
.wf-CantarellBold-n4-loading * {
  visibility: hidden;
}

/* Miso */
@font-face {
  font-family: 'MisoRegular';
  src: url("../fonts/miso/miso-webfont.eot");
  src: local("☺"), url("../fonts/miso/miso-webfont.woff") format("woff"), url("../fonts/miso/miso-webfont.ttf") format("truetype"), url("../fonts/miso/miso-webfont.svg#webfontA4ZOCCxS") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoBold';
  src: url("../fonts/miso/miso-bold-webfont.eot");
  src: local("☺"), url("../fonts/miso/miso-bold-webfont.woff") format("woff"), url("../fonts/miso/miso-bold-webfont.ttf") format("truetype"), url("../fonts/miso/miso-bold-webfont.svg#webfontWPKh07R7") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoLight';
  src: url("../fonts/miso/miso-light-webfont.eot");
  src: url("../fonts/miso/miso-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/miso/miso-light-webfont.woff") format("woff"), url("../fonts/miso/miso-light-webfont.ttf") format("truetype"), url("../fonts/miso/miso-light-webfont.svg#MisoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Cantarell */
@font-face {
  font-family: 'CantarellRegular';
  src: url("../fonts/cantarell/Cantarell-Regular-webfont.eot");
  src: local("☺"), url("../fonts/cantarell/Cantarell-Regular-webfont.woff") format("woff"), url("../fonts/cantarell/Cantarell-Regular-webfont.ttf") format("truetype"), url("../fonts/cantarell/Cantarell-Regular-webfont.svg#webfontaI1yI6ue") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBold';
  src: url("../fonts/cantarell/Cantarell-Bold-webfont.eot");
  src: local("☺"), url("../fonts/cantarell/Cantarell-Bold-webfont.woff") format("woff"), url("../fonts/cantarell/Cantarell-Bold-webfont.ttf") format("truetype"), url("../fonts/cantarell/Cantarell-Bold-webfont.svg#webfontfFimAbpE") format("svg");
  font-weight: normal;
  font-style: normal;
}